.paragrafo{
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: 100;
    display: block;
}

.divP{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.divButton{
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.button1{
    margin-left: 12vw;
}

.button3{
    margin-right: 12vw;
}
.button{
    width: 16vw;
    height: 6vh;
    font-size: 30px;
    background-color: #707070;
    color:ghostwhite;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

}